<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <title>Adder</title>
</head>
<body>

<style>
.center_div{
    margin: 0 auto;
    width:30%
}
</style>

<div class="page-header center_div">
	<h2>Add new advertisements to analyze</h2>
</div>

	<div class="form-group center_div container">
		<form method="post" action="{{url_for('add_data')}}">
			<table>
				 <tr>
				  <td><label>List of Urls:</label></td>
				 </tr>
				<tr>
				 <td><textarea class="form-control" name="url_list" rows="15" cols="50"></textarea></td>
				</tr>

				<tr style="padding-top:20px;">
				 <td style="padding-top:20px;"><button type="submit" class="btn btn-info btn-block">Add URLs To Scrape</button>
				</tr>
			</table>
		</form>
</div>

<script src="{{url_for('static',filename='js/jquery.js')}}"></script>

</body>
</html>
