<html>
 		<head>
 			<title></title>

 			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
 			<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
 			<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
 		x</head>
 		<body>

 			<div id="chart"></div>
 		
 			<script>

var adults_in_families = JSON.parse({{adults_in_families|tojson}});
var average_shelter_stays_for_families = JSON.parse({{average_shelter_stays_for_families|tojson}});
var children = JSON.parse({{children|tojson}});
var single_adults = JSON.parse({{single_adults|tojson}});
var single_men = JSON.parse({{single_men|tojson}});
var single_women = JSON.parse({{single_women|tojson}});
var total_families = JSON.parse({{total_families|tojson}});
var total_persons_in_families = JSON.parse({{total_persons_in_families|tojson}});
var total_population = JSON.parse({{total_population|tojson}});
var dates = JSON.parse({{dates|tojson}});


var chart = c3.generate({
	bindto: '#chart',
    data: {
        x: 'dates',
        xFormat : "%d-%m-%Y",
        columns: [
            dates,
            adults_in_families,
            average_shelter_stays_for_families,
            children,
            single_adults,
            single_men,
            single_women,
            total_families,
            total_persons_in_families,
            total_population
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%d-%m-%Y'
            }
        },
        y:{
            max:20000,
            mix:15
        }
    }
});


</script>

 		</body>
 		</html> 		
